[submodule "console-battleship"]
	path = console-battleship
	url = https://github.com/paarthsiloiya/console-battleship.git
[submodule "console-minesweeper"]
	path = console-minesweeper
	url = https://github.com/paarthsiloiya/console-minesweeper.git
[submodule "console-connect-4"]
	path = console-connect-4
	url = https://github.com/paarthsiloiya/console-connect-4.git
[submodule "console-othello"]
	path = console-othello
	url = https://github.com/paarthsiloiya/console-othello.git
[submodule "console-sudoku"]
	path = console-sudoku
	url = https://github.com/paarthsiloiya/console-sudoku.git
